.size {
    position: fixed;
    top: 0;
    left: 0;
  }
  .timer{
    position: fixed;
    top:0;
    right:0;
  }
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
   
  }